<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Manage Account</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/src/main/resources/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/quill/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/quill/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="/src/main/resources/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/src/main/resources/css/aniqstyle.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="/src/main/resources/img/logo.png" alt="" />
          <span class="d-none d-lg-block">OObat</span>
        </a>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >Login</span
              > </a
            ><!-- End Profile Iamge Icon -->
          </li>
        </ul>
      </nav>
    </header>
    <!-- End Header -->

    <main id="main" class="main">
      <section class="section">
        <div class="container">
          <div class="pagetitle">
            <h1>Oobat Products</h1>
            <p>Manage your product in store</p>
          </div>
          <!-- End Page Title -->

          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addProductModal"
          >
            ADD PRODUCT
          </button>

          <!-- Table of product -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
          <!-- End Table of product -->
          <div class="pagetitle">
            <h1>Add/Edit Products</h1>
          </div>
          <div class="row">
            <div class="col-xl-8">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="my-3">
                          <label class="form-label">Product Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Product Name"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="my-3">
                          <label class="form-label">Price</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Product Name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="my-3">
                          <label class="form-label">Description</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Product Name"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="my-3">
                          <label class="form-label">Date Added</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Product Name"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="my-3">
                          <label class="form-label">Quantity</label>
                          <input
                            class="form-control"
                            type="date"
                            id="birthday"
                            name="birthday"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="my-5">
                          <button class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/src/main/resources/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/src/main/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/main/resources/vendor/chart.js/chart.umd.js"></script>
    <script src="/src/main/resources/vendor/echarts/echarts.min.js"></script>
    <script src="/src/main/resources/vendor/quill/quill.min.js"></script>
    <script src="/src/main/resources/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/src/main/resources/vendor/tinymce/tinymce.min.js"></script>
    <script src="/src/main/resources/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/src/main/resources/js/main.js"></script>
  </body>
</html>
