<!--user/dashboard.html-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>User Dashboard</title>
</head>
<body>
  <h2>Welcome to User Dashboard</h2>

  <div sec:authorize="hasRole('PHARMACIST')">Text visible to user.</div>
  <div sec:authorize="hasRole('CUSTOMER')">Text visible to admin.</div>
  <!-- <p>Logged as: <span sec:authentication="username"></span></p> -->
  <p>Principal: <span sec:authentication="principal"></span></p>
  <p>Logged as name: <span sec:authentication="principal.name"></span></p>
  
  <!-- <p>Has role: <span sec:authentication="authorities"></span></p> -->
  <div sec:authentication="principal.authorities"></div>

  <p>dif Logged as: <span sec:authentication="name"></span></p>
  <p>dif Has role: <span sec:authentication="authorities"></span></p>

  <div>
    <p><a th:href="@{/}">Home</a></p>
    <p><a th:href="@{/logout}">Log out</a></p>
  </div>
</body>
</html>